* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/welcome.jpg");
  background-size: 100vw 100vh;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  margin-top: 0rem;
  padding-top: 3rem;
}
.logo h1 {
  font-size: 4rem;
}
.menu ul {
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  font-size: 2.5rem;
  color: cadetblue;
  text-decoration: none;
  transition-duration: 0.5s;
}
.menu a:hover {
  color: black;
}
.sign-in button {
  height: 4rem;
  width: 12rem;
  background-color: whitesmoke;
  font-size: 2.5rem;
  border-style: none;
  border-radius: 5rem;
}
.card-container {
  padding: 2rem;
  border: 1rem;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(233, 253, 255);
  height: 40rem;
  width: 30rem;
  display: flex;
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-left: 3rem;
}
.Headingbox {
  padding: 1rem;
  text-align: center;
  border: 1px solid grey;
}
.paragraph {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.5rem;
  color: black;
}

.imagebox {
  height: 20rem;
}
.imagebox img {
  height: 100%;
  width: 100%;
}
.cardbutton {
  height: 20rem;
  width: 30rem;
  text-align: center;
}
.card-event {
  background-color: grey;
  font-size: 4rem;
  text-align: center;
}
.cardmain-container {
  height: 50rem;

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cardbutton button {
  height: 3rem;
  width: 9rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  border: 2px solid black;
  background-color: white;
  color: black;
}
